<h1>All cats</h1>

<ul>
    <% @cats.each do |cat| %>
  <li><%= cat.name %> - <%= cat.color %>
  <a href="<%= cat_url(cat.id) %>">Meow</a>
  </li>
    <% end %>
</ul>

<br>
<a href="<%= new_cat_url %>">Add a cat</a>
